<%= data.cache[type].include?(id) ? "*" : "" %><%= id %>
<ul>
<li><a href="<%= uri(id) %>">edit</a></li>
<li><a href="<%= uri(id, :as => :preview) %>">preview</a></li>
<li><a href="<%= uri(id, :as => :download) %>">download</a></li>
</ul>