<select id="<%= id %>" name="<%= name %>">
<% value ||= stringify(config.default) %>
<% (config[:options] || []).each do |option| %>
<%   option = stringify(option) %>
  <option value="<%= escape_html(option) %>" <%= value == option ? "selected='true' " : ""%>><%= option %></option>
<% end %>
</select>