    <ul class="configurations">
<% configurations.each_pair do |key, config| %>
<%   next if config[:type] == :hidden %>
<%   if config.is_nest? %>
    <li class="nested-configuration">
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config[:desc].to_s %></span>
    <ul class="nested_config">
<%= render("configurations.erb", :locals => {
      :configurations => config.default(false).delegates, 
      :values => values[key] || {}, 
      :name => "#{name}[#{key}]", 
    }) %>
    </ul>
    </li>
<%   else %>
    <li class="configuration">
<%= render(
      :file => class_path("#{config[:type]}.erb", config) || class_path("default.erb", config), 
      :locals => {
        :name => "#{name}[#{key}]",
        :config => config,
        :value => values[key]}) %>
    <span><%= key %></span>:
    <span><%= config[:desc].to_s %></span>
    </li>
<%   end %>
<% end %>
    </ul>