<%=  render('_build.erb', :locals => {:id => id}) %>
<%=  render('_controls.erb', :locals => {:id => id}) %>

<!-- add form --> 
<% summary = summarize(schema) %>
<form id="add_<%= id %>" class="add" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="add" />
  
  <h2>Add:</h2>
  <p>
    Select resources to add or enque.  To add a join, select the join 
    and the input and output indices for the join in the summary table.  
  </p>
  
  <h3>Tasks</h3>
  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.manifest(:task).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
  <li><input name="tasks[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<%   end %>
<% end %>
  </ul>
  
  <h3>Joins</h3>
  <table>
<% summary.each do |(key, inputs, outputs)| %>
  <tr>
    <td><input name="outputs[]" value="<%= key %>" type="checkbox" /></td>
    <td><a href="#task_<%= key %>"><%= key %></a></td>
    <td><input name="inputs[]" value="<%= key %>" type="checkbox" /></td>
    <td>[<% inputs.each  do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]</td>
    <td>[<% outputs.each do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]</td>
  </tr>
<% end %>
  </table>
  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.manifest(:join).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
  <li><input name="join" value="<%= key %>" type="radio"><%= key %></input></li>
<%   end %>
<% end %>
  </ul>
  
  <h3>Middleware</h3>
  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.manifest(:middleware).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
  <li><input name="middleware[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<%   end %>
<% end %>
  </ul>
    
  <h3>Queue</h3>
  <ul>
<% summary.each do |(key, inputs, outputs)| %>
  <li><input name="queue[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<% end %>
  </ul>
    
  <input type="submit" value="Add" />
</form>

<!-- remove form --> 
<form id="remove_<%= id %>" class="remove" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="remove" />
  
  <h2>Remove:</h2>
  <p>
    Select resources to remove.
  </p>
  
  <h3>Tasks</h3>
  <ul>
<% summary.each do |(key, inputs, outputs)| %>
  <li><input name="tasks[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<% end %>
  </ul>
  
  <h3>Joins</h3>
  <ul>
<% schema.joins.each_index do |index| %>
  <li><input name="joins[]" value="<%= index %>" type="checkbox"><%= index %></input></li>
<% end %>
  </ul>
  
  <h3>Middleware</h3>
  <ul>
<% schema.middleware.each_index do |index| %>
  <li><input name="middleware[]" value="<%= index %>" type="checkbox"><%= index %></input></li>
<% end %>
  </ul>
    
  <h3>Queue</h3>
  <ul>
<% schema.queue.each_index do |index| %>
  <li><input name="queue[]" value="<%= index %>" type="checkbox"><%= index %></input></li>
<% end %>
  </ul>
  
  <input type="submit" value="Remove" />
</form>

<!-- configure form --> 
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="save" />
  
  <h2>Configure:</h2>
  
  <h3>Tasks</h3>
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
<%  name = "schema[:tasks][#{key}]" %>
    <li id="task_<%= key %>">
      <h3><a href="#add_<%= id %>"><%= key %></a></h3>
      
      <input type="hidden" name="<%= name %>[:id]" value="<%= task[:id] %>">
<%=   render_config(task, "#{name}[:config]") %>
    </li>
<% end %>
  </ul>
  
  <h3>Joins</h3>
  <ul class="joins">
<% schema.joins.each_with_index do |(inputs, outputs, join), index| %>
<%  name = "schema[:joins][]" %>
    <li id="join_<%= index %>">
      <h3><a href="#add_<%= id %>"><%= index %></a></h3>
<%    inputs.each do |input| %>
      <input type="hidden" name="<%= name %>[0][]" value="<%= input %>">
<%    end %>
<%    outputs.each do |output| %>
      <input type="hidden" name="<%= name %>[1][]" value="<%= output %>">
<%    end %>
      <input type="hidden" name="<%= name %>[2][:id]" value="<%= join[:id] || 'join' %>">
<%=   render_config(join, "#{name}[2][:config]") %>
    </li>
<% end %>
  </ul>

  <input type="submit" value="Save" />
</form>