<h2>Schema</h2>
<ul>
<% schema.each do |id| %>
<li>
  <%=  render('_controls.erb', :locals => {:id => id}) %>
  <ul>
  <li><a href="<%= uri("#{id}") %>">design/configure</a></li>
  <li><a href="<%= uri("#{id}.txt") %>">preview</a></li>
  <li><a href="<%= uri("#{id}.yml") %>">export</a></li>
  </ul>
</li>
<% end %>
<li><a href="<%= uri('new') %>">new</a></li>
</ul>