<ul>
<% schema.each do |id| %>
<li>
  <form id="delete_form_<%= id %>" class="delete_form" method="post" action="<%= uri(id) %>">
    <a href="<%= uri("#{id}")%>"><%= id %></a>
    <input class="action" type="hidden" name="action" value="destroy" />
    <input id="delete_form_<%= id %>_submit" type="submit" value="Destroy" />
  </form>
</li>
<% end %>
<li><a href="<%= uri("#{schema.length}")%>">new</a></li>
</ul>