<ul>
<% schema.each do |id| %>
<li>
  <form id="delete_<%= id %>" class="delete" method="post" action="<%= uri(id) %>">
    <a href="<%= uri("#{id}")%>"><%= id %></a>
    <input class="action" type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
</li>
<% end %>
<li><a href="<%= uri("#{schema.length}")%>">new</a></li>
</ul>