<% tasc = task.class %>
    <span class="class"><%= tasc %></span>: 
    <span class="summary"><%= tasc.manifest.subject %></span>
    <pre><%= tasc.manifest.wrap %></pre>
    
    <ul class="inputs">
<% tasc.args.arguments.each do |argument| %>
    <li class="input">
    <input name="schema[][args][]" value="<%= args.shift %>" />
    <span><%= argument %></span>
    </li>
<% end %>

<% args << '' if task.method(:process).arity < 0 %>
<% args.each do |arg| %>
    <li class="input">
    <input name="schema[][args][]" value="<%= arg %>" />
    <span>...</span>
    </li>
<% end %>
    </ul>
    
<%=  render("configurations.erb", :locals => {
       :configurations => tasc.configurations, 
       :values => task.config, 
       :name => "schema[]", 
       :index => index}) %> 

    <ul class="options">
    <li class="option">
    <input name="schema[][name]" value="<%= task.name %>" />
    <span>Name</span>
    </li>
    </ul>