<span>Schema:</span>

<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="input" name="name" value="<%= id %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="rename" />
  <input type="submit" value="Rename" />
</form>

<form id="duplicate_<%= id %>" class="duplicate" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="name" value="<%= id %>_copy" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="duplicate" />
  <input type="submit" value="Duplicate" />
</form>

<% traverse = schema.traverse %>
<form id="add_<%= id %>" class="add" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="add" />
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li>
    <input name="outputs[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
    <input name="inputs[]" value="<%= key %>" type="checkbox" />
    [<% inputs.each  do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]
    [<% outputs.each do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]
  </li>
<% end %>
  </ul>

  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.constant_manifest(:task).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
   <li>
     <input name="tasks[]" value="<%= key %>" type="checkbox"><%= key %></input>
   </li>
<%   end %>
<% end %>
  </ul>
  
  <input type="submit" value="Add" />
</form>

<form id="remove_<%= id %>" class="remove" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="remove" />
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li>
    <input name="tasks[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
  </li>
<% end %>
  </ul>

  <ul>
<% schema.joins.each_index do |index| %>
  <li>
    <input name="joins[]" value="<%= index %>" type="checkbox" />
    <a href="#join_<%= index %>"><%= index %></a>
  </li>
<% end %>
  </ul>
  
  <input type="submit" value="Remove" />
</form>

<form id="update_<%= id %>" class="update" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="update" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
    <li id="task_<%= key %>">
<%=  render(
       :file => class_path('schema.erb', task[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[tasks][#{key}]", 
         :task => task}) %>
    </li>
<% end %>
  </ul>

<% schema.joins.each_with_index do |(inputs, outputs, join), index| %>
    <li id="join_<%= index %>">
<%=  render(
       :file => class_path('schema.erb', join[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[joins][]",
         :inputs => inputs,
         :outputs => outputs,
         :join => join}) %>
    </li>
<% end %>
  </ul>
  <input type="submit" value="Update" />
</form>
