<span>Schema: <%= id %></span>
<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="input" name="name" value="<%= id %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="rename" />
  <input type="submit" value="Rename" />
</form>

<!-- build panel -->
<form id="build_<%= id %>" class="build" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="build" />
  <input type="submit" value="Add" />
</form>

<!-- configure panel -->
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="configure" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
<%   task_id = "schema[tasks][#{}]" %>
    <li>
<%=  render(:file => class_path('node.erb', task), :locals => {:id => id, :name => 'schema[]', :task => task, :args => args} ) %>
      
<%= render 'task.erb', :locals => {:task => task_id, :index => index, :id => id} %>
    </li>
  <% end %>
  </ul>

  <ul class="joins">
  <% schema.joins.each_with_index do |join, index| %>
    <li>
<%= render 'join.erb', :locals => {:join => join, :index => index, :id => id} %>
    </li>
  <% end %>
  </ul>
  
  <input type="submit" value="Update" />
</form>
