<%=  render('_controls.erb', :locals => {:id => id}) %>
<ul>
<li><a href="<%= uri %>">index</a></li>
<li><a href="<%= uri("#{id}.txt") %>">preview</a></li>
<li><a href="<%= uri("#{id}.yml") %>">export</a></li>
</ul>

<h2>Design:</h2>
<!-- add form --> 
<% traverse = schema.traverse %>
<form id="add_<%= id %>" class="add" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="add" />
  
  <table>
<% traverse.each do |(key, inputs, outputs)| %>
  <tr>
    <td><input name="outputs[]" value="<%= key %>" type="checkbox" /></td>
    <td><a href="#task_<%= key %>"><%= key %></a></td>
    <td><input name="inputs[]" value="<%= key %>" type="checkbox" /></td>
    <td>[<% inputs.each  do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]</td>
    <td>[<% outputs.each do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]</td>
  </tr>
<% end %>
  </table>
  
  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.constant_manifest(:task).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
  <li><input name="tasks[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<%   end %>
<% end %>
  </ul>
  
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li><input name="queue[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<% end %>
  </ul>

  <input type="submit" value="Add" />
</form>

<!-- remove form --> 
<form id="remove_<%= id %>" class="remove" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="remove" />
  
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li>
    <input name="tasks[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
  </li>
<% end %>
  </ul>

  <ul>
<% schema.joins.each_index do |index| %>
  <li>
    <input name="joins[]" value="<%= index %>" type="checkbox" />
    <a href="#join_<%= index %>"><%= index %></a>
  </li>
<% end %>
  </ul>
  
  <ul>
<% schema.queue.each_index do |index| %>
  <li>
    <input name="queue[]" value="<%= index %>" type="checkbox" />
    <a href="#queue_<%= index %>"><%= index %></a>
  </li>
<% end %>
  </ul>
  
  <input type="submit" value="Remove" />
</form>

<h2>Configure:</h2>
<!-- configure form --> 
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="configure" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
<%   name = "schema[tasks][#{key}]" %>
    <li id="task_<%= key %>" class="task">
      <h3><a href="#add_<%= id %>"><%= key %></a></h3>
      <input type="hidden" name="<%= name %>[id]" value="<%= task[:id] %>">
<%=  render(
       :file => class_path('config.erb', task[:class]), 
       :locals => {:id => id, :name => name, :task => task}) %>
    </li>
<% end %>
  </ul>
  
  <ul class="joins">
<% schema.joins.each_with_index do |(inputs, outputs, join), index| %>
<%   name = "schema[joins][]" %>
    <li id="join_<%= index %>" class="join">
      <h3><a href="#add_<%= id %>"><%= index %></a></h3>
<%   inputs.each do |input| %>
      <input type="hidden" name="<%= name %>[0][]" value="<%= input %>">
<%   end %>
<%   outputs.each do |output| %>
      <input type="hidden" name="<%= name %>[1][]" value="<%= output %>">
<%   end %>
      <input type="hidden" name="<%= name %>[2][id]" value="<%= join[:id] || 'join' %>">

<%=  render(
       :file => class_path('config.erb', join[:class]), 
       :locals => {:id => id, :name => "#{name}[2]", :join => join}) %>
    </li>
<% end %>
  </ul>
  
  <ul class="queue">
<% schema.queue.each_with_index do |(key, args), index| %>
<%   name = "schema[queue][]" %>
<%   task = schema.tasks[key] %>
    <li id="queue_<%= index %>" class="queue">
    <input type="hidden" name="<%= name %>[0]" value="<%= key %>">
<%=  render(
       :file => class_path('input.erb', task[:class]), 
       :locals => {:id => id, :name => "#{name}[1]", :task => task, :key => key, :args => args || []}) %>
    </li>
<% end %>
  </ul>
  <input type="submit" value="Update" />
</form>