<span>Schema:</span>

<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="input" name="name" value="<%= id %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="rename" />
  <input type="submit" value="Rename" />
</form>

<form id="duplicate_<%= id %>" class="duplicate" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="name" value="<%= id %>_copy" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="duplicate" />
  <input type="submit" value="Duplicate" />
</form>

<!-- build panel -->
<form id="build_<%= id %>" class="build" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <ol>
<% schema.traverse.each_pair do |key, task| %>
  <li>
    <input name="outputs[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
    <input name="inputs[]" value="<%= key %>" type="checkbox" />
    [<% if task[:input_join] %><a href="#join_<%= task[:input_join][:index] %>"><%= task[:parents].join(', ') %></a><% end %>]
    [<% if task[:output_join] %><a href="#join_<%= task[:output_join][:index] %>"><%= task[:children].join(', ') %></a><% end %>]
  </li>
<% end %>
  </ol>
  
  <input class="update_action" type="radio" name="_action" value="add" checked="true">add</input>
  <input class="update_action" type="radio" name="_action" value="remove">remove</input>
  <input class="update_action" type="radio" name="_action" value="echo">echo</input>
  <input type="submit" value="Update" />
</form>

<!-- configure panel -->
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="configure" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
    <li id="task_<%= key %>">
<%=  render(
       :file => class_path('schema.erb', task[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[tasks][#{key}]", 
         :task => task}) %>
    </li>
<% end %>
  </ul>

<% schema.joins.each do |inputs, outputs, join| %>
    <li>
<%=  render(
       :file => class_path('schema.erb', join[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[joins][]",
         :inputs => inputs,
         :outputs => outputs,
         :join => join}) %>
    </li>
<% end %>
  </ul>
  <input type="submit" value="Update" />
</form>
