<span>Schema:</span>

<form id="run_<%= id %>" class="run" method="post" action="<%= server.uri(:app, 'build') %>">
  <input type="hidden" name="run" value="on" />
  <textarea name="schema"><%= load_schema(id).dump %></textarea>
  <input type="submit" value="Run" />
</form>

<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="input" name="name" value="<%= id %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="rename" />

  <input type="submit" value="Rename" />
</form>

<form id="duplicate_<%= id %>" class="duplicate" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="name" value="<%= id %>_copy" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="duplicate" />
  <input type="submit" value="Duplicate" />
</form>

<form id="delete_<%= id %>" class="delete" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="name" value="<%= id %>" />
  <input class="action" type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" />
</form>

<!-- add form --> 
<% traverse = schema.traverse %>
<form id="add_<%= id %>" class="add" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="add" />
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li>
    <input name="outputs[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
    <input name="inputs[]" value="<%= key %>" type="checkbox" />
    [<% inputs.each  do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]
    [<% outputs.each do |index| %><a href="#join_<%= index %>"><%= index %></a> <% end %>]
  </li>
<% end %>
  </ul>

  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.constant_manifest(:task).minimap.each do |(name, const)| %>
<%     key = "#{env_name}:#{name}" %>
  <li><input name="tasks[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<%   end %>
<% end %>
  </ul>

  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li><input name="queue[]" value="<%= key %>" type="checkbox"><%= key %></input></li>
<% end %>
  </ul>

  <input type="submit" value="Add" />
</form>

<!-- remove form --> 
<form id="remove_<%= id %>" class="remove" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="remove" />
  <ul>
<% traverse.each do |(key, inputs, outputs)| %>
  <li>
    <input name="tasks[]" value="<%= key %>" type="checkbox" />
    <a href="#task_<%= key %>"><%= key %></a>
  </li>
<% end %>
  </ul>

  <ul>
<% schema.joins.each_index do |index| %>
  <li>
    <input name="joins[]" value="<%= index %>" type="checkbox" />
    <a href="#join_<%= index %>"><%= index %></a>
  </li>
<% end %>
  </ul>
  
  <ul>
<% schema.queue.each_index do |index| %>
  <li>
    <input name="queue[]" value="<%= index %>" type="checkbox" />
    <a href="#queue_<%= index %>"><%= index %></a>
  </li>
<% end %>
  </ul>
  
  <input type="submit" value="Remove" />
</form>

<!-- configure form --> 
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="configure" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
<%   name = "schema[tasks][#{key}]" %>
    <li id="task_<%= key %>" class="task">
      <input type="hidden" name="<%= name %>[id]" value="<%= task[:id] %>">
<%=  render(
       :file => class_path('config.erb', task[:class]), 
       :locals => {:id => id, :name => name, :task => task}) %>
    </li>
<% end %>
  </ul>
  
  <ul class="joins">
<% schema.joins.each_with_index do |(inputs, outputs, join), index| %>
<%   name = "schema[joins][]" %>
    <li id="join_<%= index %>" class="join">
<%   inputs.each do |input| %>
      <input type="hidden" name="<%= name %>[inputs][]" value="<%= input %>">
<%   end %>
<%   outputs.each do |output| %>
      <input type="hidden" name="<%= name %>[outputs][]" value="<%= output %>">
<%   end %>
      <input type="hidden" name="<%= name %>[join][id]" value="<%= join[:id] || 'join' %>">

<%=  render(
       :file => class_path('config.erb', join[:class]), 
       :locals => {:id => id, :name => "#{name}[join]", :join => join}) %>
    </li>
<% end %>
  </ul>
  
  <ul class="queue">
<% schema.queue.each_with_index do |(key, args), index| %>
<%   name = "schema[queue][]" %>
<%   task = schema.tasks[key] %>
    <li id="queue_<%= index %>" class="queue">
    <input type="hidden" name="<%= name %>[id]" value="<%= key %>">
<%=  render(
       :file => class_path('input.erb', task[:class]), 
       :locals => {:id => id, :name => "#{name}[args]", :task => task, :key => key, :args => args || []}) %>
    </li>
<% end %>
  </ul>
  <input type="submit" value="Update" />
</form>