<span>Schema: <%= id %></span>
<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="input" name="name" value="<%= id %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="rename" />
  <input type="submit" value="Rename" />
</form>

<!-- build panel -->
<form id="build_<%= id %>" class="build" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="build" />
  <input type="submit" value="Add" />
</form>

<!-- configure panel -->
<form id="configure_<%= id %>" class="configure" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="configure" />
  
  <ul class="tasks">
<% schema.tasks.each_pair do |key, task| %>
    <li>
<%=  render(
       :file => class_path('schema.erb', task[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[tasks][#{key}]", 
         :task => task}) %>
    </li>
<% end %>
  </ul>

<% schema.joins.each do |join| %>
    <li>
<%=  render(
       :file => class_path('schema.erb', join[:class]), 
       :locals => {
         :id => id, 
         :name => "schema[joins][]", 
         :join => join}) %>
    </li>
<% end %>
  </ul>
  <input type="submit" value="Update" />
</form>
