<% env_names = {} %>
<% env.manifest(:envs, true).minimize.each do |name, environment| %>
<%   env_names[environment] = name %>
<% end %>

<html>
<title>Tap::Manifest</title>
<html>
<body>

<div id="branding">
  <h1><a href="<%= Tap::WEBSITE %>">Tap (<ins>T</ins>ask <ins>Ap</ins>plication) <%= Tap::VERSION %> </a></h1>
</div>

<div id="content_main">
<dl id="envs" class="manifest">
<% env.each do |current| %>
  <dt class="key"><%= env_names[current] %> (<%= current.root.root %>)</dt>
  <dd class="value">
<%   manifest_keys = (Tap::Env.manifests.keys + current.manifests.keys).uniq %>
<%   manifest_keys -= [:envs] %>
<%   manifest_keys.each do |key| %>
<%     manifest = current.manifest(key, true) %>
<%     next if manifest.empty? %>
    <dl id="manifests" class="manifest">
    <dt class="key"><%= key %></dt>
    <dd class="value">
      <ol>
<%     manifest.each do |(name, path)| %>
<%       path = path.kind_of?(Tap::Support::Constant) ? path.require_path : path %>
        <li><%= name %> (<%= current.root.relative_filepath(:root, path) || path %>)</li>
<%     end %>
      </ol>
    </dd>
    </dl>
<%   end %>
  </dd>
<% end %>
  </dl>
</div>

<div id="nav">
  <ul>
    <li><a href="index?refresh=true">Refresh</a></li>
  </ul>
</div>

</body>
</html>