<% argv = node.argv %>
<% tasc_identifier = argv.shift %>
<% tasc = env.tasks.search(tasc_identifier).constantize %>
<% task, args = tasc.parse(argv) %>
  <li id="node_<%= index %>" class="node">
    <!-- controls -->
    <ul>
      <li><input id="source_checkbox_<%= index %>" class="source_checkbox" name="source" value="<%= index %>" type="checkbox" /></li>
      <li><input id="target_checkbox_<%= index %>" class="target_checkbox" name="target" value="<%= index %>" type="checkbox" /></li>
    </ul>

    <span class="class"><%= tasc %></span>: 
    <span class="summary"><%= tasc.manifest.subject %></span>
    <pre><%= tasc.manifest.wrap %></pre>
    
    <!-- tasc identifier -->
    <input name="nodes[<%= index %>][0]" type="hidden" value="<%= tasc_identifier %>" />
    
    <ul>
    <!-- inputs -->
    <li class="input">
<% args.collect! {|arg| arg =~ /\s/ ? "'#{arg}'" : arg} %>
    <input class="value" name="nodes[<%= index %>][1]%w" value="<%= args.join(' ') %>" />
    <span class="name"><%= tasc.args.to_s %></span>
    </li>

    <!-- configurations -->
<% tasc.configurations.each do |key, config| %>
    <li class="config">
<%   case config.attributes[:type] %>
<%   when :switch, :flag then 'checkbox' %>
    <!-- note switches should be more like a radio button, hide
      the other when selected, so that both are allowed... or 
      just present the opposite of the default... -->
    <input class="value" name="nodes[<%= index %>][2]" type="checkbox" value="--<%= key.to_s.gsub('_', '-') %>" checked="<%= task.config[key] %>" />
<%   else %>
    <input class="key" name="nodes[<%= index %>][2]" type="hidden" value="--<%= key.to_s.gsub('_', '-') %>" />
    <input class="value" name="nodes[<%= index %>][2]" type="text" value="<%= task.config[key] %>" />
<%   end %>
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config.attributes[:desc].to_s %></span>
    </li>
<% end %>

    <!-- options -->
    <li class="options">
    <input class="key" name="nodes[<%= index %>][2]" type="hidden" value="--name" />
    <input class="value" name="nodes[<%= index %>][2]" value="<%= task.name %>" />
    <span class="name">Name</span>
    </li>
    
    <!--
    <input class="globalize" name="nodes[<%= index %>][2]" type="checkbox" value="--*<%= index %>" />
    <span class="name">Globalize</span> -->
    
    </ul>
  </li>