<div>Ruby <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)</div>
<div>Tap <%= Tap::VERSION %></div>
<div>
Server:
<% config = server.config.to_hash %>
<% config.delete(:env) %>
<pre class="yaml"><%= YAML.dump(config) %></pre>
</div>
<% if Object.const_defined?(:Gem) %>
<div>
Active Gems:
<ul>
  <% Gem.loaded_specs.each_pair do |key, spec| %>
  <li><%= spec.full_name %></li>
  <% end %>
</ul>
</div>
<% end %>
<form action="<%= uri :shutdown, :secret => secret %>" method="post">
  <input type="submit" value="shutdown" />
</form>
