<div id="branding">
  <h1><a href="<%= Tap::WEBSITE %>">Tap (<ins>T</ins>ask <ins>Ap</ins>plication) <%= Tap::VERSION %> </a></h1>
</div>

<div id="content_main">
<ol id="envs" class="manifest"><% manifests.each do |(env_key, types)| %>
<li>
  <h2><%= env_key %></h2>
  <ul><% types.each do |(type, minimap)| %>
  <li>
    <h3><%= type %></h3>
    <ul><% minimap.each do |key, entry| %>
    <li><%= key %> (<a href="help/<%= key %>">?</a>)</li><% end %>
    </ul>
  </li><% end %>
  </ul>
</li><% end %>
</ol>
</div>
