<div id="branding">
  <h1><a href="<%= Tap::WEBSITE %>">Tap (<ins>T</ins>ask <ins>Ap</ins>plication) <%= Tap::VERSION %> </a></h1>
</div>

<div id="content_main">
<ol id="envs" class="manifest">
<% env_keys = server.env.minihash(true) %>
<% server.env.each do |env| %>
<%   root = env.root %>
<%   env_key = env_keys[env] %>
<%   controllers = env.manifest(:controller) %>
<%   tasks = env.manifest(:task) %>
<%   next if controllers.empty? && tasks.empty? %>
  <li>
    <h2><%= env_key %></h2>
    <ul>
<%   unless controllers.empty? %>
    <li>
      <h3>controllers</h3>
      <ul>
<%     controllers.minimap.each do |(key, const)| %>
      <li><a href="<%= escape(key) %>"><%= key %></a> (<a href="<%= help_uri('controller', key) %>">?</a>)</li>
<%     end %>
      </ul>
    </li>
<%   end %>

<%   unless tasks.empty? %>
    <li>
      <h3>tasks</h3>
      <ul>
<%     tasks.minimap.each do |(key, const)| %>
      <li><%= key %> (<a href="<%= help_uri('task', key) %>">?</a>)</li>
<%     end %>
      </ul>
    </li>
<%   end %>
    </ul>
  </li>
<% end %>
</ol>
</div>
