<form id="rename_<%= id %>" class="rename" method="post" action="<%= uri(id) %>">
  <input type="text" name="new_id" value="<%= id %>" />
  <input type="hidden" name="_method" value="rename" />
  <input type="submit" value="Rename" />
</form>

<form id="duplicate_<%= id %>" class="duplicate" method="post" action="<%= uri(id) %>">
  <input type="hidden" name="_method" value="duplicate" />
  <input type="submit" value="Duplicate" />
</form>

<form id="delete_<%= id %>" class="delete" method="post" action="<%= uri(id) %>">
  <input class="action" type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" />
</form>

<ul>
<li><a href="<%= uri %>">index</a></li>
<li><a href="<%= uri(id, :as => :preview) %>">preview</a></li>
<li><a href="<%= uri(id, :as => :download) %>">download</a></li>
</ul>
