<h1><%= type %></h1>

<%=  render('_upload.erb') %>

<form method="post" action="<%= uri %>">
  <ul>
<% data.index(type).each do |id| %>
  <li><input type="checkbox" name="id[]" value="<%= id %>" /><%= data.cache[type].include?(id) ? "*" : "" %><a href="<%= uri(id) %>"><%= id %></a></li>
<% end %>
  <li><a href="<%= uri('new') %>">new</a></li>
  </ul>
  
  <ul>
  <li><a href="javascript:Tap.Utils.select_all_by_name('id[]')">All</a></li>
  <li><a href="javascript:Tap.Utils.deselect_all_by_name('id[]')">None</a></li>
  </ul>
  
  <ul>
  <li><input type="radio" name="_method" value="select" checked="true">Select</input></li>
  <li><input type="radio" name="_method" value="deselect">Deselect</input></li>
  <li><input type="radio" name="_method" value="destroy_all">Delete</input></li>
  </ul>
  
  <input type="submit" value="Submit" />
</form>