<h1><%= type %></h1>
<%=  render('_upload.erb') %>
<form id="select_<%= type %>" class="select" method="post" action="<%= uri %>">
  <input type="hidden" name="_method" value="select" />
  
  <ul>
<% data.index(type).each do |id| %>
  <li><input type="checkbox" name="id[]" value="<%= id %>" /> <%= render('_entry.erb', :locals => {:id => id})%></li>
<% end %>
  <li><a href="<%= uri('new') %>">new</a></li>
  </ul>
  
  <input type="submit" value="Select" />
</form>