<h1><%= type %></h1>
<%=  render('_upload.erb') %>
<form id="manage_<%= type %>" class="manage" method="post" action="<%= uri %>">
  <ul>
<% data.index(type).each do |id| %>
  <li><input type="checkbox" name="id[]" value="<%= id %>" /> <%= render('_index_entry.erb', :locals => {:id => id})%></li>
<% end %>
  <li><a href="<%= uri('new') %>">new</a></li>
  </ul>
  
  <ul>
  <li><input type="radio" name="_method" value="select" checked="true">Select</input></li>
  <li><input type="radio" name="_method" value="delete">Delete</input></li>
  </ul>
  
  <input type="submit" value="Submit" />
</form>