<h1><%= type %></h1>
<%=  render('_upload.erb') %>
<form id="batch_update_<%= type %>" class="batch_update" method="post" action="<%= uri %>">
  <input type="hidden" name="type" value="<%= type %>" />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_action" value="batch" />
  
  <ul>
<% data.index(type).each do |id| %>
  <li><input type="checkbox" name="id[]" value="<%= id %>" /> <%= render('_entry.erb', :locals => {:id => id})%></li>
<% end %>
  <li><a href="<%= uri('new') %>">new</a></li>
  </ul>
  
  <ul>
  <li><input type="radio" name="_batch" value="select" checked="true" />select</li>
  <li><input type="radio" name="_batch" value="duplicate" />duplicate</li>
  <li><input type="radio" name="_batch" value="delete" />delete</li>
  </ul>
  
  <input type="submit" value="Submit" />
</form>