<% task, args = instantiate(*node.argv) %>
<% tasc = task.class%>
    <span class="class"><%= tasc %></span>: 
    <span class="summary"><%= tasc.manifest.subject %></span>
    <pre><%= tasc.manifest.wrap %></pre>
    
    <!-- tasc identifier -->
    <input name="nodes[<%= index %>][]" type="hidden" value="<%= node.argv[0] %>" />
    
    <ul>
    <!-- inputs -->
    <li class="input">
<% args.collect! {|arg| arg =~ /\s/ ? "'#{arg}'" : arg} %>
    <input class="value" name="nodes[<%= index %>]%w" value="<%= args.join(' ') %>" />
    <span class="name"><%= tasc.args.to_s %></span>
    </li>

    <!-- configurations -->
<%=  render("configurations.erb", :locals => {
       :configurations => tasc.configurations, 
       :values => task.config, 
       :nest => "", 
       :index => index}) %> 

    <!-- options -->
    <li class="options">
    <input class="key" name="nodes[<%= index %>][]" type="hidden" value="--name" />
    <input class="value" name="nodes[<%= index %>][]" value="<%= task.name %>" />
    <span class="name">Name</span>
    </li>
    
    <!--
    <input class="globalize" name="nodes[<%= index %>][2]" type="checkbox" value="--*<%= index %>" />
    <span class="name">Globalize</span> -->
    
    </ul>