<form id="update_<%= id %>" class="update_form" enctype="multipart/form-data" method="post" action="/schema/update/<%= id %>">
  <span>round</span>
  <input name="round" value="<%= round %>">
  <ol>
<% nodes.each do |node| %>
<% index = schema.index(node) %>
  <li>
    <input name="outputs[]" value="<%= index %>" type="checkbox" />
    <a href="#node_<%= index %>"><%= index %></a>
    <input name="inputs[]" value="<%= index %>" type="checkbox" />
<% if output = node.output_join %>
<%= render('join.erb', :locals => {:schema => schema, :id => id, :join => output[0], :inputs => output[1], :outputs => output[2]}) %>
<% end %>
  </li>
<% end %>
  </ol>
  <ul>
<% server.env.minimap.each do |(env_name, env)| %>
<%   env.tasks.build.minimap.each do |(name, const)| %>
<%     lookup = "#{env_name}:#{name}" %>
   <li>
     <input name="nodes[]" value="<%= lookup %>" type="checkbox"><%= lookup %></input>
   </li>
<%   end %>
<% end %>
  </ul>
  <input class="update_action" type="radio" name="action" value="add" checked="true">add</input>
  <input class="update_action" type="radio" name="action" value="remove">remove</input>
  <input class="update_action" type="radio" name="action" value="echo">echo</input>
  <input id="update_form_submit" type="submit" value="Update" />
</form>