<% globals = schema.globals %>
<% unless globals.empty? %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => globals, :round => nil, :id => id} %>
<% end %>
<% index = 0 %>
<% schema.natural_rounds.each do |nodes| %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => nodes, :round => index, :id => id} %>
<% index += 1 %>
<% end %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => [], :round => index, :id => id} %>

<form id="submit_form_<%= id %>" class="submit_form" enctype="multipart/form-data" method="post" action="/schema/submit/<%= id %>">
  <ol id="schema_<%= id %>" class="schema">
<% schema.nodes.each_with_index do |node, index| %>
  <li id="node_<%= index %>" class="node">
<%= render('node.erb', :locals => {:id => id, :node => node, :index => index} ) %> 
  </li>
<% end %>
  </ol>
<% schema.dump.select {|obj| !obj.kind_of?(Array) }.each do |str| %>
  <input name="argv[]" type="hidden" value="--<%= str %>" />
<% end %>
  <input class="submit_form_action" type="radio" name="action" value="save" checked="true">save</input>
  <input class="submit_form_action" type="radio" name="action" value="preview">preview</input>
  <input class="submit_form_action" type="radio" name="action" value="echo">echo</input>
  <input class="submit_form_action" type="radio" name="action" value="run">run</input>
  <input id="submit_form_submit" type="submit" value="Submit" />
</form>