<% globals = schema.globals %>
<% unless globals.empty? %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => globals, :round => nil, :id => id} %>
<% end %>
<% index = 0 %>
<% schema.rounds.each do |nodes| %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => nodes, :round => index, :id => id} %>
<% index += 1 %>
<% end %>
<%= render 'round.erb', :locals => {:schema => schema, :nodes => [], :round => index, :id => id} %>

<form id="submit-form-<%= id %>" enctype="multipart/form-data" method="post" action="/schema/submit/<%= id %>">
  <ol id="schema-<%= id %>" class="schema">
<% schema.nodes.each_with_index do |node, index| %>
  <li id="node-<%= index %>" class="node">
<%= render('node.erb', :locals => {:id => id, :node => node, :index => index} ) %> 
  </li>
<% end %>
<% schema.rounds(true).each do |round| %>
  <li class="round">
    <input name="rounds" type="hidden" value="--<%= round %>" />
  </li>
<% end %>
<% schema.send(:each_join_str) do |join| %>
  <li class="join">
    <input name="joins" type="hidden" value="--<%= join %>" />
  </li>
<% end %>
  </ol>
  <input type="radio" name="action" value="save" checked="true">save</input>
  <input type="radio" name="action" value="preview">preview</input>
  <input type="radio" name="action" value="run">run</input>
  <input id="submit-form-submit" type="submit" value="Submit" />
</form>