<% case value %>
<% when Hash, Array %>
    <textarea name="<%= name %>"><%= value.to_yaml[4..-1] %></textarea>
<% when Regexp %>
    <input name="<%= name %>" type="text" value="<%= value.inspect %>" />
<% else %>
    <input name="<%= name %>" type="text" value="<%= value %>" />
<% end %>
    <span><%= key %></span>:
    <span><%= config[:desc].to_s %></span>