<div>Ruby <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)</div>
<div>Tap <%= Tap::VERSION %></div>
<div>
Active Gems:
<ul>
  <% Gem.loaded_specs.each_pair do |key, spec| %>
  <li><%= spec.full_name %></li>
  <% end %>
</ul>
</div>
<div>
<ul>
  <li><a href="<%= uri :info, :secret => secret %>">Info</a></li>
</ul>
</div>
