<div>
<% actions.each do |action| %>
<%= render "_action.erb", :locals => {:action => action } %>
<% end %>
<% if admin?(secret) %>
<form action="<%= uri :shutdown, :secret => secret %>" style="display:inline" method="post">
  <input type="submit" value="shutdown" />
</form>
<% end %>
<%= app.info %>
</div>
<ul>
<li><a href="<%= uri :build %>">Build</a></li>
<li><a href="<%= uri :enque %>">Enque</a></li>
<% if admin?(secret) %>
<li><a href="<%= uri :about, :secret => secret %>">About</a></li>
<% end %>
</ul>