<div>
<% actions.each do |action| %>
<%= render "_action.erb", :locals => {:action => action } %>
<% end %>
<%= app.info %>
</div>
<ul>
<li><a href="<%= uri :schema %>">Build</a> (<a href="<%= uri :build %>">manual</a>)</li>
<li><a href="<%= uri :data %>">Enque</a> (<a href="<%= uri :enque %>">manual</a>)</li>
</ul>

<h3>Current Build:</h3>
<% if tasks.empty? %>
<span>(no workflow built)</span>
<% end %>
<dl>
<% tasks.each_pair do |key, task| %>
  <dt><%= key %></dt>
  <dd><%= task.class %></dd>
<% end %>
</dl>
