<% argv = node.argv.dup %>
<% tasc_identifier = argv.shift %>
<% tasc = server.env.tasks.search(tasc_identifier).constantize %>
<% task, args = tasc.parse(argv) %>
<% args.collect! {|arg| arg =~ /\s/ ? "'#{arg}'" : arg} %>
  <li id="node_<%= index %>" class="node">
    <!-- controls -->
    <input id="target_checkbox_<%= index %>" class="target_checkbox" name="target" value="<%= index %>" type="checkbox" />
    <input id="source_checkbox_<%= index %>" class="source_checkbox" name="source" value="<%= index %>" type="checkbox" />
    <a href="/schema/remove/<%= id %>/<%= index %>">remove</a>
    
    <span class="class"><%= tasc %></span>: 
    <span class="summary"><%= tasc.manifest.subject %></span>
    <pre><%= tasc.manifest.wrap %></pre>
    
    <!-- tasc identifier -->
    <input name="nodes[<%= index %>][0]" type="hidden" value="<%= tasc_identifier %>" />
    
    <ul>
    <!-- inputs -->
    <li class="input">
    <input class="value" name="nodes[<%= index %>][1]%w" value="<%= args.join(' ') %>" />
    <span class="name"><%= tasc.args.to_s %></span>
    </li>

    <!-- configurations -->
<% tasc.configurations.each do |key, config| %>
<%   template = case config[:type] %>
<%   when :switch then 'switch' %>
<%   when :flag then 'flag' %>
<%   else 'default' %>
<%   end %>
<%   params = {:key => key, :config => config, :switch => "--#{key.to_s.gsub('_', '-')}", :value => task.config[key], :index => index} %>
    <li class="config">
<%=  render("config/#{template}.erb", :locals => params) %> 
    </li>
<% end %>

    <!-- options -->
    <li class="options">
    <input class="key" name="nodes[<%= index %>][2]" type="hidden" value="--name" />
    <input class="value" name="nodes[<%= index %>][2]" value="<%= task.name %>" />
    <span class="name">Name</span>
    </li>
    
    <!--
    <input class="globalize" name="nodes[<%= index %>][2]" type="checkbox" value="--*<%= index %>" />
    <span class="name">Globalize</span> -->
    
    </ul>
  </li>