    <input class="key" name="nodes[<%= index %>][]" type="hidden" value="<%= switch %>" />
    <input class="value" name="nodes[<%= index %>][]" type="text" value="<%= value %>" />
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config[:desc].to_s %></span>