    <input class="value" name="nodes[<%= index %>][]" type="checkbox" value="<%= switch %>" <%= value ? 'checked="true"' : '' %> />
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config[:desc].to_s %></span>