<div class="task" id="task_<%= index %>">
  <input class="selector" type="checkbox" name="<%= index %>[selected]" value="<%= index %>">
<%= server.cgi_template('run/task_manifest', :name => "#{index}[task]", :default => tasc) %>
  
  <input class="name" type="text" name="<%= index %>[name]" value="<%= tasc.default_name %>">

  <!-- documentation -->
  <pre id="documentation_<%= index %>" class="documentation"><%= tasc.manifest.wrap %></pre>

  <!-- configuration -->
  <!-- TODO: merge config with class configurations -->
  <textarea class="config" name="<%= index %>[config]"><%= tasc.configurations.format_str(:nodoc) %></textarea>

  <!-- inputs -->
  <textarea class="inputs" name="<%= index %>[inputs]"><%= inputs.to_yaml %></textarea>

  <!-- controls -->
  <ul class="controls" id="controls_<%= index %>">
  <li class="reset"><a href="">Reset</a></li>
  <li class="preview"><a href="">Preview</a></li>
  <li class="edit"><a href="">Edit</a></li>
	<li class="help"><a href="">Help</a></li>
  </ul>
</div>