  <li id="task_<%= index %>" class="task">
    <!-- controls -->
    <ul>
      <li><input id="source_<%= index %>" class="source" name="source[<%= index %>]" type="checkbox" /></li>
      <li><input id="target_<%= index %>" class="target" name="target[<%= index %>]" type="checkbox" /></li>
    </ul>
    
<% lazydoc = tasc.lazydoc[tasc.to_s] %>    
    <span class="class"><%= tasc %></span>: 
    <span class="summary"><%= lazydoc['manifest'].subject %></span>
    <pre><%= lazydoc['manifest'].wrap %></pre>
    
    <!-- should be set in the background -->
    <input name="schema[<%= index %>][0]" type="hidden" value="<%= tasc.to_s.underscore %>" />
    
    <ul>
    <li class="config">
     <input class="key" name="schema[<%= index %>][2]" type="hidden" value="--name" />
     <input class="value" name="schema[<%= index %>][2]" value="<%= tasc.default_name %>" />
     <span class="name">Name</span>
    </li>

    <!-- inputs -->
    <li class="input">
    <input class="value" name="schema[<%= index %>][1]%w" value="<%= default %>" />
    <span class="name"><%= lazydoc['args'].subject %></span>
    </li>
    
    <!-- configurations -->
<% tasc.configurations.each do |receiver, key, config| %>
    <li class="config">
    <input class="key" name="schema[<%= index %>][2]" type="hidden" value="--<%= key %>" />
    <input class="value" name="schema[<%= index %>][2]" value="<%= config.default %>" />
    <span class="name"><%= key %></span>:
    <span class="desc"><%= config.desc.to_str %></span>
    </li>
<% end %>
    </ul>
  </li>