<div id="branding">
  <h1><a href="<%= Tap::WEBSITE %>">Tap (<ins>T</ins>ask <ins>Ap</ins>plication) <%= Tap::VERSION %> </a></h1>
</div>

<div id="content_main">
<dl id="envs" class="manifest">
<% env.each do |current| %>
  <dt class="key"><%= env_names[current] %> (<%= current.root.root %>)</dt>
  <dd class="value">
    <dl id="manifests" class="manifest">
    <!-- tasks manifest -->
    <dt class="key">tasks</dt>
    <dd class="value">
      <ol>
<%   current.tasks.build.minimap.each do |(name, obj)| %>
<%     path = obj.kind_of?(Tap::Support::Constant) ? obj.require_path : name %>
      <li><a href="schema?nodes[0][0]=<%= env_names[current] %>%3A<%= name %>"><%= name %></a> (<%= current.root.relative_filepath(:root, path) || path %>)</li>
<%   end %>
      </ol>
    </dd>
    </dl>
  </dd>
<% end %>
  </dl>
</div>
