<% update_tail = "Tap.Run.tail('#{path}', 'update', 'content', 1000);" %>
<div class="tail">
  <input class="update" id="update" type="checkbox" <%= update ? "checked='true' " : "" %>onchange="<%= update_tail %>" />
  <span class="path"><%= path %></span>
  <pre class="content" id="content" pos="<%= pos %>"><%= content %></pre>
</div>
<script type="text/javascript"><%= update ? update_tail : "" %></script>
