<h1 class="class"><%= obj %></h1>
<span class="summary"><%= obj.desc.subject %></span>

<h2>Documentation</h2>
<pre class="desc"><%= obj.desc.wrap %></pre>

<h2>Attributes</h2>
<table>
<tr class="source_file">
  <td>Source File</td>
  <td><%= obj.source_file %></td>
<tr>
<tr class="ancestors">
  <td>Ancestors</td>
  <td>
  <ul>
<% obj.ancestors.each do |ancestor| %>
    <li><%= ancestor %></li>
<% end %>
  </ul>
  </td>
<tr>
</table>
