<h1 class="class"><%= obj %></h1>

<ul>
<li class="source_file">
  <h2>Source File</h2>
  <p><%= obj.source_file %><p>
</li>
<li>
  <h2>Summary</h2>
  <%= obj.desc.subject %>
</li>
<li>
  <h2>Documentation</h2>
  <pre class="desc"><%= obj.desc.wrap %></pre>
</li>
<li>
  <h2>Signature</h2>
  <%= obj.args %>
</li>
<li class="ancestors">
<% unless obj.configurations.empty? %>
  <h2>Configurations</h2>
  <table>
  <tr>
  <th>Key</th>
  <th>Default</th>
  <th>Type</th>
  <th>Description</th>
  </tr>
<%   obj.configurations.each_pair do |key, delegate| %>
  <tr>
  <td><%= key %></td>
  <td><%= delegate.default %></td>
  <td><%= delegate[:type] %></td>
  <td><%= delegate[:desc] %></td>
  </tr>
<%   end %>
  </table>
<% end %>
</li>
<li class="ancestors">
  <h2>Ancestors</h2>
  <ol>
<% obj.ancestors.each do |ancestor| %>
    <li><%= ancestor %></li>
<% end %>
  </ol>
</li>
</ul>
