<select id="<%= id %>" name="<%= name %>[]" multiple="true">
<% value ||= config.default %>
<% (config[:options] || []).each do |option| %>
  <option value="<%= option %>" <%= value.include?(option) ? "selected='true' " : ""%>><%= option %></option>
<% end %>
</select>