<select id="<%= id %>" name="<%= name %>">
<% value ||= config.default %>
<% (config[:options] || []).each do |option| %>
  <option value="<%= option %>" <%= value == option ? "selected='true' " : ""%>><%= option %></option>
<% end %>
</select>